<div class="input-wrapper" [class.on-focus]="showDatePicker" (click)="openCalendar(); $event.stopPropagation()">
  <input
    type="text"
    readonly
    [placeholder]="placeholder || 'تاریخ را وارد کنید'"
    [value]="selectedDate ? (selectedDate.jalaliDate | persianDigit) : ''" />
  <i class="fa-solid fa-calendar-days"></i>
</div>

<div
  [@openClose]="showDatePicker ? 'open' : 'closed'"
  id="date-picker-container"
  class="h-fit w-64 custom-shadow rounded-md overflow-clip bg-component"
  (click)="$event.stopPropagation()">
  <!-- Header -->
  <div class="w-full max-h-11 flex py-2 px-4 items-center justify-between border-b border-base-br">
    <ng-container [ngSwitch]="mode">
      <ng-container *ngSwitchCase="'month'">
        <div class="flex gap-2">
          <i class="fa-solid fa-angles-right text-gray-300" (click)="previousYear()"></i>
        </div>
        <div class="flex gap-4 items-baseline">
          <strong class="hover:text-primary cursor-pointer" (click)="changeMode('year')">{{
            viewingYear | persianDigit
          }}</strong>
        </div>
        <div class="flex gap-2">
          <i class="fa-solid fa-angles-left text-gray-300" (click)="nextYear()"></i>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'year'">
        <div class="flex gap-2">
          <i class="fa-solid fa-angles-right text-gray-300" (click)="previousDecade()"></i>
        </div>
        <div class="flex gap-4 items-baseline">
          <strong class="hover:text-primary cursor-pointer" (click)="changeMode('month')">
            {{ yearsRangeView[1] | persianDigit }}
            -{{ yearsRangeView[yearsRangeView.length - 2] | persianDigit }}
          </strong>
        </div>
        <div class="flex gap-2">
          <i class="fa-solid fa-angles-left text-gray-300" (click)="nextDecade()"></i>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="flex gap-2">
          <i class="fa-solid fa-angles-right text-gray-300" (click)="previousYear()"></i>
          <i class="fa-solid fa-angle-right text-gray-300" (click)="previousMonth()"></i>
        </div>
        <div class="flex gap-4 items-baseline">
          <strong class="hover:text-primary cursor-pointer" (click)="changeMode('month')">{{
            currentMonthView
          }}</strong>
          <strong class="hover:text-primary cursor-pointer" (click)="changeMode('year')">{{
            viewingYear | persianDigit
          }}</strong>
        </div>
        <div class="flex gap-2">
          <i class="fa-solid fa-angle-left text-gray-300" (click)="nextMonth()"></i>
          <i class="fa-solid fa-angles-left text-gray-300" (click)="nextYear()"></i>
        </div>
      </ng-container>
    </ng-container>
  </div>

  <!-- Dates View -->
  <div *ngIf="!mode" class="my-4">
    <!-- Day of the Week -->
    <div class="grid grid-cols-7 w-full items-center justify-items-center px-4 gap-2">
      <div class="text-center h-8 w-6 my-auto text-sm leading-unset" *ngFor="let shortNameDay of daysOfWeek">
        {{ shortNameDay }}
      </div>
    </div>
    <!-- Date -->
    <div class="grid grid-cols-7 grid-rows-6 items-center justify-items-center w-full px-4 gap-2" @itemsAnimation>
      <div
        [ngClass]="{
          'border border-primary': dateItem.isCurrentDay && viewingYear === currentYear,
          'bg-primary text-white hover:!bg-primary':
            dateItem.date === selectedDay &&
            viewingMonth === selectedMonth &&
            viewingYear === selectedYear &&
            dateItem.isCurrentMonth
        }"
        class="text-center leading-unset h-6 w-6 text-sm rounded-sm hover:bg-gray-200"
        [class.text-gray-400]="!dateItem.isCurrentMonth"
        (click)="selectDay(dateItem)"
        *ngFor="let dateItem of daysOfMonth">
        {{ dateItem.date | persianDigit }}
      </div>
    </div>
  </div>

  <!-- Month View -->
  <div *ngIf="mode === 'month'" class="my-4">
    <!-- Month -->
    <div class="grid grid-cols-3 grid-rows-4 w-full px-4" @itemsAnimation>
      <div
        *ngFor="let month of monthsOfYear; let i = index"
        (click)="selectMonth(i)"
        class="h-16 w-22 rounded-sm cursor-pointer flex justify-center items-center">
        <span
          class="text-center text-sm w-15 px-2 hover:bg-gray-200 rounded-sm"
          [ngClass]="{
            'border border-primary': i === currentMonth && viewingYear === currentYear,
            'bg-primary text-gray-50 hover:!bg-primary': i === selectedMonth && viewingYear === selectedYear
          }"
          >{{ month }}</span
        >
      </div>
    </div>
  </div>

  <!-- Year View -->
  <div *ngIf="mode === 'year'" class="my-4">
    <!-- Year -->
    <div class="grid grid-cols-3 grid-rows-4 w-full px-4" @itemsAnimation>
      <div
        *ngFor="let year of yearsRangeView; let i = index"
        (click)="selectYear(year)"
        class="h-16 w-22 rounded-sm cursor-pointer flex justify-center items-center">
        <span
          class="text-center text-sm w-15 px-2 hover:bg-gray-200 rounded-sm"
          [ngClass]="{
            'text-gray-300 cursor-default': i === 0 || i === yearsRangeView.length - 1,
            'border border-primary': year === currentYear
          }">
          {{ year | persianDigit }}
        </span>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <button
    *ngIf="showToday && !mode"
    (click)="today()"
    class="w-full h-11 border-t border-base-br text-primary cursor-pointer">
    امروز
  </button>
</div>
