:host {
  display: block;
}

.custom-shadow {
  box-shadow:
    0 3px 6px -4px #0000001f,
    0 6px 16px #00000014,
    0 9px 28px 8px #0000000d;
}

#date-picker-container {
  position: absolute;
  z-index: 1000;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--component-background);
  border: 1px solid var(--border-color-base);
  padding: 0.25rem 11px;
  border-radius: 0.25rem;
  transition: border-color 0.3s;
  width: 100%;
  max-width: 10rem;

  &:hover {
    border-color: var(--primary-color);
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    width: 100%;

    &:placeholder-shown {
      text-overflow: ellipsis;
    }

    &::placeholder {
      color: var(--text-color);
      user-select: none;
    }
  }

  i {
    position: absolute;
    left: 10px;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
      color: var(--text-color);
    }
  }
}

.on-focus {
  &[data-theme='light'] {
    box-shadow: 0 0 5pt 1pt rgb(233 213 255);
  }
  outline-width: 0;
}
