<pull-to-refresh (refresh)="fetchData()" [isLoading]="!!(influencerSummaryListLoading$ | async)"></pull-to-refresh>
<div @listAnimation>
  <!-- <app-filter-sort></app-filter-sort> -->
  <ul
    class="flex flex-col gap-4 mt-4"
    *ngIf="(influencerSummaryListLoading$ | async) === false as isLoading; else loadingTemplate">
    <li
      *ngFor="let influencer of influencerSummaryList$ | async"
      dir="ltr"
      class="rounded-md bg-gray-100 flex gap-4 p-4 shadow">
      <div class="rounded-full flex w-16 h-16 overflow-clip">
        <img
          class="object-cover aspect-square"
          [ngSrc]="influencer.profilePhotoSrc"
          width="70"
          height="70"
          alt="profile photo" />
      </div>
      <div class="flex flex-col grow gap-4">
        <div class="flex flex-col">
          <span class="font-bold text-left">{{ influencer.nickname }}</span>
          <div class="flex gap-1 items-center">
            <i class="fa fa-brands fa-instagram"></i>
            <span>@{{ influencer.instagramId }}</span>
          </div>
          <div class="flex gap-1 items-baseline">
            <i [class]="influencer.category | categoryToIcon: 'fa-xs'"></i>
            <span class="rounded-md text-left w-fit mt-1 text-xs">{{ influencer.category | categoryToLabel }}</span>
          </div>
        </div>
        <div class="flex justify-between w-full">
          <div class="flex float-left">
            <nz-rate nzDisabled [ngModel]="influencer.rate" nzAllowHalf></nz-rate>
          </div>
          <div [routerLink]="influencer.id" class="flex items-center gap-2 float-right">
            <span class="text-xs text-gray-700">جزئیات بیشتر</span>
            <i class="fa-solid fa-chevron-right fa-xs text-gray-700"></i>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ng-template #loadingTemplate>
    <ul class="flex flex-col gap-4 mt-4">
      <li *ngFor="let _ of [].constructor(3)" dir="ltr" class="rounded-md bg-gray-100 flex gap-4 p-4 shadow">
        <div class="rounded-full flex w-16 h-16 overflow-clip">
          <skeleton shape="circle" width="70" height="70"></skeleton>
        </div>
        <div class="flex flex-col grow gap-4">
          <div class="flex flex-col">
            <skeleton class="me-auto" height="14" width="100"></skeleton>
            <div class="flex gap-1 items-center">
              <skeleton shape="circle" width="12" height="12"></skeleton>
              <skeleton height="12"></skeleton>
            </div>
            <div class="flex gap-1 items-baseline">
              <skeleton shape="circle" width="12" height="12"></skeleton>
              <skeleton height="12"></skeleton>
            </div>
          </div>
          <div class="flex justify-between w-full">
            <div class="flex float-left">
              <skeleton height="14" width="120"></skeleton>
            </div>
            <div class="flex items-center gap-2 float-right">
              <skeleton height="12"></skeleton>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </ng-template>
</div>
