<div class="my-4">
  <h1 class="whitespace-nowrap text-lg">اطلاعات تکمیلی</h1>
</div>
<form nz-form [nzDisableAutoTips]="true" [formGroup]="businessInfoForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-input-group [nzPrefix]="InfoIcon">
      <input type="text" nz-input disabled [placeholder]="(userType | async) === 'influencer' ? 'تولید کننده محتوا' : 'کسب و کار'">
    </nz-input-group>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="PersianBusinessNameErrorTip">
      <nz-input-group [nzPrefix]="inputTextIcon">
        <input type="text" nz-input placeholder="نام کسب و کار به فارسی" formControlName="persianBusinessName">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="EnglishBusinessNameErrorTip">
      <nz-input-group [nzPrefix]="inputTextIcon">
        <input type="text" nz-input placeholder="نام کسب و کار به انگلیسی" formControlName="englishBusinessName">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-select nzPlaceHolder="نوع کسب و کار" formControlName="businessIndustry">
        <nz-option *ngFor="let businessIndustry of industryList" [nzValue]="businessIndustry" [nzLabel]="businessIndustry.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="نام کاربری وارد شده صحیح نمی‌باشد.">
      <nz-input-group [nzPrefix]="instagramIcon">
        <input type="text" nz-input placeholder="آیدی پیج اینستاگرام" formControlName="instagramAccount">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="نام کاربری وارد شده صحیح نمی‌باشد.">
      <nz-input-group [nzPrefix]="twitterIcon">
        <input type="text" nz-input placeholder="آیدی حساب توئیتر" formControlName="twitterAccount">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="انتخاب شهر" formControlName="businessCity">
        <nz-option *ngFor="let city of cityList" [nzValue]="city.name" [nzLabel]="city.faName"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item dir="ltr">
    <nz-form-control dir="ltr" nzErrorTip="شماره وارد شده صحیح نمی‌باشد.">
      <nz-input-group dir="ltr" nzAddOnAfter="+98" [nzPrefix]="phoneIcon">
        <input type="number" nz-input placeholder="شماره موبایل (ایران)" formControlName="phoneNumber">
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #InfoIcon>
  <i class="fa-solid fa-circle-info"></i>
</ng-template>
<ng-template #phoneIcon>
  <i class="fa-solid fa-phone"></i>
</ng-template>
<ng-template #inputTextIcon>
  <i class="fa-solid fa-input-text"></i>
</ng-template>
<ng-template #instagramIcon>
  <i class="fa-brands fa-instagram"></i>
</ng-template>
<ng-template #twitterIcon>
  <i class="fa-brands fa-twitter"></i>
</ng-template>
<ng-template #PersianBusinessNameErrorTip>
  <ng-container *ngIf="persianBusinessName.errors?.['required']">نام کسب و کار به فارسی الزامی است</ng-container>
  <ng-container *ngIf="persianBusinessName.errors?.['notPersianCharacters']">از حروف فارسی استفاده کنید</ng-container>
</ng-template>
<ng-template #EnglishBusinessNameErrorTip>
  <ng-container *ngIf="englishBusinessName.errors?.['required']">نام کسب و کار به انگلیسی الزامی است</ng-container>
  <ng-container *ngIf="englishBusinessName.errors?.['pattern']">از حروف انگلیسی استفاده کنید</ng-container>
</ng-template>
