@import '~node_modules/ng-zorro-antd/ng-zorro-antd';

@font-family:
  'Vazirmatn',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  Arial,
  'Noto Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji';
@border-radius-base: 4px;

/** primary color */
@primary-color: rgb(124 58 237);
/** color of regular texts */
@text-color: var(--text-color);
/** color of heading texts */
@heading-color: var(--heading-color);
/** background color of body */
@body-background: var(--body-background);
/** background color of most components:
  * popover, dropdown, radio, input, select, modal, menu, table, calendar, badge, slider... */
@component-background: var(--component-background);
/** border color of most components */
@border-color-base: var(--border-color-base);

// Rate
// ---
@rate-star-color: var(--rate-star-color);
@rate-star-bg: var(--gray-300);
@rate-star-size: 14px;

// Switch
// ---
@switch-disabled-opacity: 0.3;
@switch-bg: var(--ghost-white);

// Segmented
// ---
@segmented-bg: var(--gray-200);
@segmented-hover-bg: var(--gray-300);
@segmented-selected-bg: var(--gray-100);
@segmented-label-color: var(--gray-900);
@segmented-label-hover-color: var(--gray-900);

// Select
// ---
@select-item-selected-bg: var(--gray-100);
@select-item-active-bg: var(--gray-100);
@select-selection-item-border-color: var(--gray-400);
@select-multiple-disabled-background: var(--gray-200);
@select-multiple-item-disabled-color: var(--gray-300);
@select-multiple-item-disabled-border-color: var(--gray-200);

// Select
// ---
@select-item-selected-bg: @primary-1;
@select-item-active-bg: @item-hover-bg;
@select-dropdown-vertical-padding: @dropdown-vertical-padding;
@select-dropdown-font-size: @dropdown-font-size;
@select-dropdown-line-height: @dropdown-line-height;
@select-dropdown-height: 32px;
@select-selection-item-border-color: @border-color-split;
@select-single-item-height-lg: 40px;
@select-multiple-item-height: @input-height-base - @input-padding-vertical-base * 2; // Normal 24px
@select-multiple-item-height-lg: 32px;
@select-multiple-item-spacing-half: ceil((@input-padding-vertical-base / 2));
@select-multiple-disabled-background: @input-disabled-bg;
@select-multiple-item-disabled-color: #bfbfbf;
@select-multiple-item-disabled-border-color: @select-border-color;

// Input
// ---
@input-placeholder-color: hsv(0, 0, 75%);
@input-hover-border-color: @primary-5;
@input-number-hover-border-color: @input-hover-border-color;
@input-number-handler-active-bg: #f4f4f4;
@input-number-handler-hover-bg: @primary-5;
@input-addon-bg: @background-color-light;
@input-disabled-bg: @disabled-bg;
@input-icon-hover-color: fade(@black, 85%);
@input-disabled-color: @disabled-color;


/* Customization for Result Component */
@import '~node_modules/ng-zorro-antd/result/style/index.less';

.@{result-prefix-cls} {
  &-content {
    background-color: transparent;
  }
}

/* Customization for Modal Component */
@import '~node_modules/ng-zorro-antd/style/mixins/modal-mask.less';
.modal-mask() {
  &-mask {
    backdrop-filter: blur(3px);
  }
}
