<div *ngIf="isSideMenuOpen$ | async" @sideMenuAnimations class="fixed h-full w-full top-0 overflow-hidden z-20">
  <div id="side-menu" class="max-menu-width h-full bg-gray-200 pt-8 px-4 pb-4 absolute top-0 right-0 z-40">
    <ng-container *ngIf="userData; else userLoading">
      <div class="w-full max-h-36 absolute right-0 top-0 -z-10 overflow-clip">
        @if (userData.type === 'influencer') {
          <img class="opacity-20" ngSrc="assets/influencer-bg-sidebar.png" width="600" height="400" alt="sidebar-image"/>
        } @else if (userData.type === 'business') {
          <img class="opacity-20" ngSrc="assets/business-bg-sidebar.png" width="600" height="400" alt="sidebar-image"/>
        }
      </div>
      <div class="rounded-full w-16 h-16 overflow-clip mx-auto border-2 border-solid border-gray-300">
        <ng-container *ngIf="userData.profilePhotoSrc as profilePhoto; else emptyPhoto">
          <img [ngSrc]="profilePhoto" width="64" height="64" alt="profile photo" />
        </ng-container>
      </div>
      <div class="mt-2 mx-auto w-fit">
        @if (userData.type === 'influencer') {
          <span>{{ userData.persianFirstName }}</span>
          <span>&nbsp;</span>
          <span>{{ userData.persianLastName }}</span>
        } @else if (userData.type === 'business') {
          <span>{{ userData.persianBusinessName }}</span>
        }
      </div>
      <div class="mt-12">
        @for (option of sideMenuOptions; track option.id) {
          <div class="mt-8" (click)="selectOption(option.url)">
            <i [class]="option.icon" class="fa-solid me-4"></i>
            <strong>{{ option.title }}</strong>
          </div>
        }
      </div>
      <div class="my-8" (click)="logout()">
        <i class="fa-right-from-bracket fa-solid opacity-70 me-4"></i>
        <strong class="opacity-70">خروج از حساب کاربری</strong>
      </div>
    </ng-container>
  </div>
  <div
    id="background"
    (click)="closeMenu()"
    class="w-full h-full z-30 backdrop-blur-sm bg-neutral-600-transparent-30 absolute top-0 right-0"></div>
</div>

<ng-template #emptyPhoto>
  <div class="mx-auto w-fit">
    <i class="fa-solid fa-user text-gray-500"></i>
  </div>
</ng-template>
<ng-template #userLoading>
  <div class="rounded-full w-16 h-16 overflow-clip mx-auto">
    <skeleton shape="circle" width="64" height="64"></skeleton>
  </div>
  <div class="mt-2 mx-auto w-fit">
    <skeleton width="90"></skeleton>
  </div>
</ng-template>
