:host {
  display: block;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
}

.max-menu-width {
  width: 100%;
  max-width: 16rem;
}

.bg-zinc-600-transparent {
  background-color: rgba(82, 82, 91, 0.2);
}
