.skeleton {
  display: inline-block;
  background: linear-gradient(to right, var(--gray-300), var(--gray-200), var(--gray-300));
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
