<div class="h-72 w-64 drop-shadow-xl overflow-clip bg-gray-50">
  <!-- Header -->
  <div class="w-full max-h-11 flex py-2 px-4 items-center justify-between border-b border-gray-400">
    <i class="fa-solid fa-chevron-right text-gray-400"></i>
    <div class="flex gap-4 items-baseline">
      <span>{{currentMonthView}}</span>
      <span>{{currentYear}}</span>
    </div>
    <i class="fa-solid fa-chevron-left text-gray-400"></i>
  </div>
  <!-- Content -->
  <div>
    <!-- Day of the Week -->
    <div class="grid grid-cols-7 w-full py-2 px-4">
      <div class="text-center" *ngFor="let shortNameDay of daysOfWeek">{{shortNameDay}}</div>
    </div>
    <!-- Date -->
    <div class="grid grid-cols-7 grid-rows-6 w-full px-4">
      <div class="text-center py-1" [class.text-gray-400]="!dateItem.isCurrentMonth" *ngFor="let dateItem of daysOfMonth">{{dateItem.date}}</div>
    </div>
  </div>
  <!-- Footer -->
</div>
