<div>
  <div class="rounded-full w-24 h-24 overflow-clip mx-auto">
    <img
      class="object-cover aspect-square"
      [ngSrc]="influencer.profilePhotoSrc"
      width="96"
      height="96"
      alt="profile photo" />
  </div>
  <div class="mx-auto w-fit mt-4">
    <a dir="ltr" class="me-1 text-xl text-gray-700" [href]="'https://instagram.com/' + influencer.instagramId"
      >@{{ influencer.instagramId }}</a
    >
    <i class="fa fa-brands fa-instagram fa-lg ms-1"></i>
  </div>
  <div class="mt-4">
    <p class="text-center">{{ influencer.description }}</p>
  </div>
  <div class="mt-4">
    <div>
      <span>نام حقیقی: </span>
      <span>{{ influencer.persianName }} </span>
      <span>{{ influencer.persianLastName }}</span>
    </div>
    <div>
      <span>محل سکونت: </span>
      <span>{{ influencer.city }}</span>
    </div>
    <div>
      <span>حوزه فعالیت: </span>
      <span>{{ influencer.category }}</span>
    </div>
  </div>
</div>
