<div class="mt-8">
  <div
    class="flex justify-center items-center rounded-full mx-auto w-20 h-20 bg-gray-300 border-2 border-dashed border-gray-400">
    <i class="fa-solid fa-file-circle-plus text-2xl text-gray-50"></i>
  </div>
</div>
<div class="my-4">
  <h1 class="whitespace-nowrap text-lg text-center">انتخاب عکس پروفایل</h1>
  <p class="text-center text-gray-500">برای کسب و کارها پیشنهاد میکنیم که لوگوی کسب و کار رو انتخاب کنین و برای تولید
    کنندگان محتوا عکس پروفایل شبکه اجتماعی میتونه بهترین گزینه باشه</p>
</div>
<div class="w-full flex justify-center">
  <button nz-button nzSize="large" nzType="primary">انتخاب عکس از گالری</button>
</div>
