<div class="rounded-full w-24 h-24 overflow-clip mb-8 mx-auto">
  <div class="relative">
    <div class="absolute bottom-0 w-24 h-1/4 bg-dark-transparent cursor-pointer" (click)="triggerFileInput()">
      <i
        [ngClass]="{'fa-edit': croppedImageSrc, 'fa-file-circle-plus': !croppedImageSrc}"
        class="fa-solid fa-md text-zinc-100 text-center mx-auto block mt-1"></i>
    </div>
    <input type="file" #fileInput (change)="onFileSelected($event)" class="hidden" />
    <img
      *ngIf="croppedImageSrc; else emptyPhoto"
      class="object-cover aspect-square"
      [ngSrc]="croppedImageSrc"
      width="96"
      height="96"
      alt="profile photo" />
  </div>
  <ng-template #emptyPhoto>
    <div class="mx-auto w-fit">
      <i class="fa-solid fa-file-circle-plus text-2xl text-gray-100"></i>
    </div>
  </ng-template>
</div>
<form nz-form *ngIf="userData" [formGroup]="userInfoForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <label class="my-1" for="type">نوع حساب کاربری</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12">
      <nz-input-group [nzPrefix]="InfoIcon">
        <input nz-input disabled [value]="userData.typeLabel" type="text" id="type" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="persianBusinessName">نام کسب و کار به فارسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="PersianCharErrorTip">
      <input nz-input formControlName="persianBusinessName" id="persianBusinessName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="englishBusinessName">نام کسب و کار به انگلیسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="EnglishCharErrorTip">
      <input nz-input dir="ltr" formControlName="englishBusinessName" id="englishBusinessName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="firstName">نام به فارسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="PersianCharErrorTip">
      <input nz-input formControlName="firstName" id="firstName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="lastName">نام خانوادگی به فارسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="PersianCharErrorTip">
      <input nz-input formControlName="lastName" id="lastName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="englishFirstName">نام به انگلیسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="EnglishCharErrorTip">
      <input nz-input dir="ltr" formControlName="englishFirstName" id="englishFirstName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="englishLastName">نام خانوادگی به انگلیسی</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="EnglishCharErrorTip">
      <input nz-input dir="ltr" formControlName="englishLastName" id="englishLastName" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="instagramAccountId">آیدی حساب کاربری اینستاگرام</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12">
      <nz-input-group [nzPrefix]="instagramIcon">
        <input nz-input dir="ltr" formControlName="instagramAccountId" id="instagramAccountId" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="emailAddress">آدرس ایمیل</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12">
      <input nz-input dir="ltr" type="email" formControlName="emailAddress" id="emailAddress" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="businessIndustry">نوع کسب و کار</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12">
      <nz-select formControlName="businessIndustry" id="businessIndustry">
        <nz-option
          *ngFor="let businessIndustry of industryList"
          [nzValue]="businessIndustry.value"
          [nzLabel]="businessIndustry.label"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="businessCity">شهر</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12">
      <nz-select nzShowSearch nzAllowClear formControlName="businessCity" id="businessCity">
        <nz-option *ngFor="let city of cityList" [nzValue]="city.name" [nzLabel]="city.faName"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="mobilePhoneNumber">شماره موبایل ایران</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" [nzErrorTip]="IranianMobilePhoneNumberErrorsTip">
      <nz-input-group nzAddOnBefore="+98" dir="ltr">
        <input
          type="number"
          dir="ltr"
          id="mobilePhoneNumber"
          nz-input
          placeholder="شماره موبایل (ایران)"
          formControlName="mobilePhoneNumber" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <label class="my-1" for="businessAddress">آدرس</label>
    <nz-form-control [nzSpan]="14" [nzXs]="12" nzErrorTip="به فارسی وارد شود">
      <nz-input-group [nzPrefix]="locationIcon">
        <input
          id="businessAddress"
          type="text"
          nz-input
          placeholder="تهران، بلوار نلسون ماندلا، کوچه ایرج، پلاک ۱۱۵"
          formControlName="businessAddress" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button nz-button nzBlock nzType="primary" [disabled]="userInfoForm.invalid">تایید</button>
</form>

<ng-template #InfoIcon>
  <i class="fa-solid fa-circle-info"></i>
</ng-template>
<ng-template #locationIcon>
  <i class="fa-solid fa-location-dot"></i>
</ng-template>
<ng-template #instagramIcon>
  <i class="fa-brands fa-instagram"></i>
</ng-template>
<ng-template #twitterIcon>
  <i class="fa-brands fa-twitter"></i>
</ng-template>
<ng-template #PersianCharErrorTip>
  <ng-container *ngIf="persianBusinessName.errors?.['required']">نام کسب و کار به فارسی الزامی است</ng-container>
  <ng-container
    *ngIf="
      firstName.errors?.['notPersianCharacters'] ||
      lastName.errors?.['notPersianCharacters'] ||
      persianBusinessName.errors?.['notPersianCharacters']
    "
    >از حروف فارسی استفاده کنید</ng-container
  >
</ng-template>
<ng-template #EnglishCharErrorTip>
  <ng-container *ngIf="englishBusinessName.errors?.['required']">نام کسب و کار به انگلیسی الزامی است</ng-container>
  <ng-container
    *ngIf="
      englishFirstName.errors?.['pattern'] ||
      englishLastName.errors?.['pattern'] ||
      englishBusinessName.errors?.['pattern']
    "
    >از حروف انگلیسی استفاده کنید</ng-container
  >
</ng-template>
<ng-template #IranianMobilePhoneNumberErrorsTip>
  <ng-container *ngIf="mobilePhoneNumber.errors?.['required']">شماره موبایل الزامی است</ng-container>
  <ng-container *ngIf="mobilePhoneNumber.errors?.['pattern']">فرمت شماره صحیح نیست</ng-container>
</ng-template>

<nz-modal nzCentered [nzClosable]="false" [(nzVisible)]="isCropModalVisible">
  <ng-container *nzModalTitle>
    <i class="fa-solid fa-crop me-3"></i>
    <span>محدوده‌ی عکس را انتخاب کنید</span>
  </ng-container>
  <ng-container *nzModalContent>
    <div class="w-full h-full">
      <img #image [src]="selectedImageSrc" alt="Crop this image" class="max-w-full max-h-full" />
    </div>
  </ng-container>
  <ng-container *nzModalFooter>
    <div class="text-right">
      <button nz-button nzSize="large" nzType="primary" class="w-1/3" (click)="confirmCrop()">تایید</button>
      <button nz-button nzSize="large" nzType="default" class="w-1/3" (click)="cancelCropModal()">لغو</button>
    </div>
  </ng-container>
</nz-modal>
